/* Colors */
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Inter Variable';
  src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  background-color: var(--grey900);
  color: var(--white);
  font-family: 'Inter Variable', sans-serif;
  font-size: 0.875rem;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--grey800);
  max-width: 100%;
  margin: 25px;
  height: 500px;
  padding: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.card img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.card__city {
  color: var(--green);
  margin-top: 8px;
  font-weight: 600;
}

.card__about {
  margin-bottom: 20px;
}

.card__links {
  background-color: var(--grey700);
  color: var(--white);
  font-weight: 700;
  padding: 12px 0;
  text-decoration: none;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card__links:last-child {
  margin-bottom: 0;
}

.card__links:hover {
  background-color: var(--green);
  color: var(--grey900);
}
